html {
  font-size: 62.5%;
}

body {
  margin: 2rem;
  background: #000;
}

#head-wrap {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
}
#head-wrap h1 {
  font-size: 6.4rem;
}
#head-wrap p {
  margin-top: 1.8rem;
  font-size: 1.8rem;
}

main {
  width: 70%;
  padding-top: 1.2rem;
  margin: 0 auto;
}
main #content-wrap {
  text-align: center;
  margin-top: 1rem;
  padding: 3rem 1.5rem;
  background-color: #ffffff;
}
main #content-wrap h2 {
  font-size: 2.2rem;
  font-weight: bold;
}
main #content-wrap .input-wrap {
  padding: 1rem;
  margin: 0 auto;
}
main #content-wrap .input-wrap #todo-input {
  width: 50%;
}

#todo-list {
  margin: 0 auto;
  padding: 2rem 5rem;
  border: 1px solid #000;
  background-color: gainsboro;
}
#todo-list li {
  margin: 0 auto;
  width: 60%;
  margin-top: 1.5rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
}

li button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0.5rem;
  display: inline-block;
  width: auto;
  border: none;
  border-radius: 4px;
  font-size: 0.5rem;
}