@charset "UTF-8";
@font-face {
  font-family: "UhBeeSe_hyun";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "EarlyFontDiary";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 62.5%;
}

body {
  margin: 5rem 0rem;
  background: #000;
}

#head-wrap {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
}
#head-wrap h1 {
  font-family: "UhBeeSe_hyun";
  font-size: 6.8rem;
}
#head-wrap p {
  margin-top: 2rem;
  font-size: 2rem;
}

main {
  width: 70%;
  padding-top: 1.2rem;
  margin: 0 auto;
}
main #content-wrap {
  text-align: center;
  margin-top: 1rem;
  padding: 4rem 1.5rem;
  background-color: #ffffff;
}
main #content-wrap h2 {
  font-family: "EarlyFontDiary";
  font-size: 2.4rem;
  font-weight: bold;
}
main #content-wrap .input-wrap {
  padding: 1rem;
  margin: 0 auto;
}
main #content-wrap .input-wrap #todo-input {
  width: 50%;
  font-size: 1.8rem;
}

#todo-list {
  margin: 0 auto;
  padding: 2rem 4rem;
  border: 1px solid #000;
  background-color: gainsboro;
}
#todo-list li {
  margin: 0 auto;
  width: 65%;
  margin-top: 1.5rem;
  text-align: left;
  display: flex;
  column-gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  line-height: 2.6rem;
  font-family: "EarlyFontDiary";
  font-size: 2rem;
}

li button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0.5rem;
  display: inline-block;
  width: auto;
  border: none;
  border-radius: 4px;
  font-size: 0.5rem;
}

li span {
  color: #000000;
  text-decoration: none;
}

li span.complete {
  color: #4f647e;
  text-decoration: line-through;
}

@media (max-width: 1000px) {
  /* 브라우저 사이즈 730px 이하일때*/
  #head-wrap h1 {
    font-family: "UhBeeSe_hyun";
    font-size: 6.4rem;
  }
  #head-wrap p {
    margin-top: 2rem;
    font-size: 1.8rem;
  }
  #todo-list li {
    font-size: 1.8rem;
  }
}
@media (max-width: 760px) {
  /* 브라우저 사이즈 730px 이하일때*/
  #head-wrap h1 {
    font-family: "UhBeeSe_hyun";
    font-size: 5.4rem;
  }
  #head-wrap p {
    margin-top: 1.8rem;
    font-size: 1.6rem;
  }
  main {
    width: 80%;
    padding-top: 1.2rem;
  }
  main #content-wrap {
    text-align: center;
    margin-top: 1.2rem;
    padding: 2rem 1.5rem;
    background-color: #ffffff;
  }
  main #content-wrap .input-wrap {
    padding: 1rem;
    margin: 0 auto;
  }
  main #content-wrap .input-wrap #todo-input {
    width: 70%;
    font-size: 1.6rem;
  }
  #todo-list {
    margin: 0 auto;
    padding: 2rem 0.5rem;
    border: 1px solid #000;
    background-color: gainsboro;
  }
  #todo-list li {
    margin: 0 auto;
    width: 80%;
    margin-top: 1.5rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "EarlyFontDiary";
    font-size: 1.6rem;
  }
}
@media (max-width: 540px) {
  /* 브라우저 사이즈 730px 이하일때*/
  #head-wrap h1 {
    font-family: "UhBeeSe_hyun";
    font-size: 4rem;
  }
  #head-wrap p {
    margin-top: 1.8rem;
    font-size: 1.4rem;
  }
  main {
    width: 90%;
    padding-top: 1.2rem;
  }
  main #content-wrap {
    text-align: center;
    margin-top: 1.2rem;
    padding: 2rem 1.5rem;
    background-color: #ffffff;
  }
  main #content-wrap .input-wrap {
    padding: 1rem;
    margin: 0 auto;
  }
  main #content-wrap .input-wrap #todo-input {
    font-size: 1.4rem;
  }
  main #content-wrap h2 {
    font-size: 2rem;
  }
  #todo-list {
    margin: 0 auto;
    padding: 2rem 2rem;
    border: 1px solid #000;
    background-color: gainsboro;
  }
  #todo-list li {
    margin: 0 auto;
    width: 80%;
    margin-top: 1.5rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "EarlyFontDiary";
    font-size: 1.4rem;
  }
}